@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    background: linear-gradient(to bottom,
        transparent,
        rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  }